@import "tailwindcss";

.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 80vh; */
    padding:25px 40px;
    position: relative;
}

.headerNav {
    display: flex;
    gap: 25px;
}

.navLink {
    text-decoration: none;
    color: black;
    
}

.contactButton{
    background-color: #5CCD6A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold
    
}
