.heroSection{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 50px 100px;
    overflow: hidden;
}

.heroContent{
    text-align: left;
    max-width: 650px;
    z-index: 2;
    position: relative;
}

.heroBackground{
    position:absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;

    z-index: 1;

}